
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

main{
    margin-top: 100px;
}

/*---------------- MENU -------------------------*/
.Visible {
    display: none;
  }

.contenedor-menu {
    width: 100%;
    height: 250px;
    margin: auto;
}
.imagen-menu {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}
.menu-principal {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-principal h1 {
    font-size: 50px;
    margin-right: 30px;
    color: yellow;
}
.contenedor-check {
    position: relative;
}
#check {
    display: none;
}
.checkbtn {
    display: none;
}
.boton-menu {
    margin-right: 80px;
    padding: 10px 20px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(204, 204, 204, 0.139);
}
nav {
    text-align: center;
}
nav ul {
    padding: 15px;
    list-style: none;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}
nav ul li {
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.actual {
    color: yellow;
}
.dropdown .extra {
    display: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    left: 0;
    padding: 10px;
    z-index: 999;
    min-width: 150px;
}
.dropdown-union .extra {
    display: none;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
    left: 0;
    padding: 10px;
    z-index: 999;
    min-width: 150px;
}
.dropdown:hover{
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(33, 32, 32, 0.237);
}
.dropdown:hover .extra {
    display: block;
    background-color: rgba(33, 32, 32, 0.237);;
}
.dropdown-union:hover{
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(33, 32, 32, 0.237);
}
.dropdown-union:hover .extra {
    display: block;
    background-color: rgba(33, 32, 32, 0.237);;
}
.extra li {
    margin-bottom: 5px;
    list-style: none;
}
.extra li a {
    color: white;
    display: block;
    padding: 5px 10px;
    

    
}
.extra li a:hover {
    color: yellow;
    display: block;
}
/*---------------- FIN DEL MENU -------------------------*/

#historia {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 15px;
    text-align: center;
    margin-top: 100px;
    
    position: relative; /* Añadimos posición relativa para que el z-index funcione correctamente */
    z-index: -999999999; 
    
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  #ramas {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 15px;
    margin: 150px;
    margin-top: 100px;
    margin-bottom: 0;
    position: relative; /* Añadimos posición relativa para que el z-index funcione correctamente */
    z-index: -9999999; 
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
    }
  }
/*---------------- teorico general -------------------------*/

#teorico-general{ 
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: auto;
    margin: auto;
    margin: 100px 150px;
    padding: 20px;
}


.cont-titulo{
    text-align: center;
}
.titulo-seccion-teorico-general{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.subtitulo-seccion-teorico-general{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
.cont-puntos ul{
    margin-left: 50px;
}
.cont-puntos-logo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.cont-puntos{
    margin: auto;
}
.cont-logo-teorico{

    text-align: center;
}
.logo-teorico{
    width: 300px;
    height: 300px;
    margin: auto;
}
.cont-enlase-material-de-estudio{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.enlase-material-de-estudio{
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #0800ff;
    
    box-shadow: 0px 0px 10px rgb(10, 94, 239) inset; 
    
    
}



.enlase-material-de-estudio:hover {
  background-color: #000000b5;
  color: yellow;
}

.enlase-material-de-estudio:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(51, 122, 183, 0.5);
}



/*---------------- fin teorico general -------------------------*/
.div{
    padding: 30px;
    text-align: center;
}
.indicador {
    font-size: 35px;
    color: white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*---------------- graduaciones -------------------------*/

#graduaciones{ 
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: auto;
    margin: auto;
    margin: 100px 150px 0px 150px;
    padding: 20px;
}
.primera h2{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.primera p{
    margin: 20px;
}

.segunda{
    margin: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.segunda h3{
    margin-bottom: 10px;
    margin-top: 30px;

}

.tercera{
    
    margin: 30px 20px;
}

/*---------------- cintos -------------------------*/

.button{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);
}
.cont{
    color: rgb(255, 255, 255);
    height: auto;
    padding: 40px;
    margin: 50px 150px;
    margin-top: 0;    
    display: none; 
    border: 1px solid #ddd;
    border-top: 0px;

}   



.enlase{
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    color: #ffffff;
    border: 1px solid #ddd;
    
}









.contenedor-descripcion-blanco.mostrar {
    display: block; 
}
.enlase-blanco, .contenedor-descripcion-blanco{
    box-shadow: 0px 0px 10px rgb(255, 253, 253) inset;
}
.button-blanco{
    background-color: rgb(255, 255, 255);
    color: black;
}



.contenedor-descripcion-amarillo.mostrar {
    display: block; 
}
.enlase-amarillo, .contenedor-descripcion-amarillo{
    box-shadow: 0px 0px 10px rgb(212, 255, 0) inset;
}
.button-amarillo{
    background-color: rgb(224, 255, 67);
    color: black;
}



.contenedor-descripcion-verde.mostrar {
    display: block; 
}
.enlase-verde, .contenedor-descripcion-verde{
    box-shadow: 0px 0px 10px rgb(43, 255, 0) inset;
}
.button-verde{
    background-color: green;
}



.contenedor-descripcion-azul.mostrar {
    display: block; 
}
.enlase-azul, .contenedor-descripcion-azul{
    box-shadow: 0px 0px 10px rgb(0, 4, 255) inset;
}
.button-azul{
    background-color: rgb(0, 0, 128);
}



.contenedor-descripcion-rojo.mostrar {
    display: block; 
}
.enlase-rojo, .contenedor-descripcion-rojo{
    box-shadow: 0px 0px 10px rgb(255, 0, 0) inset;
}
.button-rojo{
    background-color: rgb(128, 0, 0);
}




.contenedor-descripcion-negro.mostrar {
    display: block; 
    background-color: rgba(255, 255, 255, 0.5);
}
.enlase-negro, .contenedor-descripcion-negro{
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
    color: #000000;
    
}
.button-negro{
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 1px solid white;
}

.parrafo2{
    color: #000000;
    padding: 10px 80px 0 0;
}



.contenedor-enlase{
    display: flex;
}
.contenedor-texto-logo{

    display: flex;

}
.contenedor-img{
    padding: 15px;
    display: flex;
    align-items: center;
}
.contenedor-texto-logo img{

    width: 100px;
    height: auto;
    margin-right: 30px;
    object-fit: cover;

}
.parrafo{
    padding: 25px 80px 0 0;
    color: #ffffff;
}
.negrita{
    font-size: xx-large;
}
/*---------------- fin cinto -------------------------*/



/*---------------- FIN graduaciones -------------------------*/

/*------------------------ FOOTER ----------------------------*/


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    margin-top: 100px;
   
  }
  
  footer a {
    color: white;
    margin: 20px;
  }
  
 
  .left{
    margin: auto;
  }
  .right{
    margin: auto;
  }
  .center {
    flex-grow: 1;
    text-align: center;
    color: white;
  }
  footer div a{
    font-size: 20px;
    
  }
  .icon {
	display: inline-flex;
	width: 30px;
	height: 30px;
	text-decoration: none;
	font-size: 26px;
	border-radius: 50%;
	
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}

.icon--tiktok{
    font-size: 22px;

}


.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--facebook:hover {
	background-color: #166494;
	outline-color: #166494;
}

.icon--tiktok:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #69c9d0 0%,
      #69c9d0 5%,
      #ee1d52 45%,
      #663399 60%,
      #000000 90%
    );
    outline-color: #000000;
  }
.icon--wpp:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}

/*------------------- FIN DEL FOOTER ---------------------------*/
main{
    margin: 0;
}
/*------------------- seccion-principal ---------------------------*/


/*------------------- fin seccion-principal ---------------------------*/
































@media (max-width: 1200px){

    /*---------------- MENU -------------------------*/
    .menu-principal h1 {
        font-size: 35px;
        margin: 0;
    }
    .imagen-menu {
        width: 50px;
        height: 50px;
        
    }
    .boton-menu {
        margin-right: 100px;
        padding: 5px 10px;
    }
    .logo-teorico{
        width: 150px;
        height: 150px;
    }
    a {
        font-size: 13px;
    }
    /*---------------- FIN DEL MENU -------------------------*/
    
    /*------------- seccion-principal -----------------------*/
  

    /*---------- fin seccion-principal ---------------------*/
    
    
    
    /*----------------- FOOTER -----------------------------*/
    footer div p{
        font-size: 10px;
    }
    /*----------------- FIN DEL FOOTER -----------------------------*/
}

@media (max-width: 950px){
    
    /*---------------- MENU -------------------------*/
    .checkbtn{
        float: left;
        color: white;
        display: block;
        font-size: 20px;
        margin-left: 30px;
    }
    .menu-principal h1 {
        display: none;
    }
    .imagen-menu {
        width: 100px;
        height: 100px;
        margin: 0;
        margin-bottom: 50px;

        
    }
    .menu-principal{
        display: block;

        margin: auto;
        width: 105px;
        margin-top: 50px;
    }
    .boton-menu {
        margin: 0;
    }
    
    nav ul{
        display: block;
        margin-top: 40px;
    }
    .dropdown, .dropdown-union{
        margin: 10px;
    }
    .dropdown:hover .extra {
        display: none;
        
    }
    .dropdown-union:hover .extra {
        display: none;
        
    }
    .dropdown:hover{
        padding: 0;
        padding-bottom: 0;
        background-color: rgba(33, 32, 32, 0);
    }
    .dropdown-union:hover{
        padding: 0;
        padding-bottom: 0;
        background-color: rgba(33, 32, 32, 0);
    }
    .checkbtn{
        
        display: block;
        position: absolute;
        top: 10px; /* Ajusta la posición vertical según tus necesidades */
        right: 30px; /* Ajusta la posición horizontal según tus necesidades */
        z-index: 9999; /* Asegura que el icono esté por encima de otros elementos */
      
    }
    .checkbtn:hover{
        color: rgb(255, 255, 255);
    }
    .contenedor-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all .5s;
        
        left: -100%;
        background-color: rgb(0, 0, 0, 0.7);
        
        backdrop-filter: blur(15px);
    }
    
    #check:checked ~ .contenedor-menu {
        left: 0;
        
    }
    .Visible {
        display: block;
        color: yellow;
        font-size: 25px;
        
        
      }
    .contenedor-h1{
        
        text-align: center;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    
    /*---------------- FIN DEL MENU -------------------------*/
    #ramas {
        
        margin: 50px;
       
      }

    /*------------- seccion-principal -----------------------*/
    
    .cont-puntos-logo{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    #teorico-general, #graduaciones{
        margin: 50px;
        padding: 10px;
        margin-top: 61px;
    }

    .cont{
        
        padding: 30px;
        margin: 50px 50px;
        margin-top: 0;
       
    }   
   
   
    /*---------- fin seccion-principal ---------------------*/
}


@media (max-width: 600px){
    #ramas {
        
        margin: 25px;
       
    }
    /*----------------- FOOTER -----------------------------*/
    footer{
        grid-template-columns: repeat(1, 1fr);
    }
    footer div p{
        font-size: 15px;
        
    }
    footer div a{
        font-size: 15px;
      }
    .right{
        float: right;
    }
    .primera h2, .titulo-seccion-teorico-general{
        
        font-size: 30px;
    }
    .subtitulo-seccion-teorico-general {
        
        font-size: 20px;
    }
    #teorico-general, #graduaciones{
        margin: 25px;
        padding: 10px;
        margin-top: 61px;
    }
    .cont{
        
        padding: 30px;
        margin: 50px 25px;
        margin-top: 0;
       
    }   
    .contenedor-texto-logo {
        display: block;
        margin: auto;
    }
    .contenedor-img {
        display: block;
        text-align: center;
        margin: 0;
    }
    .contenedor-texto-logo img {
    
        margin-right: 0px;
        
    }
    .parrafo {
        padding: 0;
        
    }
    .parrafo2 {
        
        padding: 0;
    }
    .enlase{
        padding: 15px 40px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 60px;        
    }

    /*----------------- FIN DEL FOOTER -----------------------------*/
}
