
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231f1f1f' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231c1c1c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23181818' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23131313' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230D0D0D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230e0e0e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230f0f0f' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23101010' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23111111' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23121212' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}



/*---------------- MENU -------------------------*/
.Visible {
    display: none;
  }

.contenedor-menu {
    width: 100%;
    height: 250px;
    margin: auto;
}
.imagen-menu {
    width: 100px;
    height: 100px;
    margin-left: 150px;
}
.menu-principal {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-principal h1 {
    font-size: 50px;
    margin-right: 30px;
    color: yellow;
}
.contenedor-check {
    position: relative;
}
#check {
    display: none;
}
.checkbtn {
    display: none;
}
.boton-menu {
    margin-right: 80px;
    padding: 10px 20px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(204, 204, 204, 0.139);
    cursor: pointer;
}
nav {
    text-align: center;
}
nav ul {
    padding: 15px;
    list-style: none;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}
nav ul li {
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.actual {
    color: yellow;
}
.dropdown .extra {
    display: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    left: 0;
    padding: 7px;
    z-index: 999;
    min-width: 175px;
}
.dropdown-union .extra {
    display: none;
    position: absolute;
    margin-left: 85px;
    margin-top: 20px;
    left: 0;
    padding: 7px;
    z-index: 999;
    min-width: 175px;
}
.dropdown:hover{
    padding: 10px;
    padding-bottom: 20px;
    background-color: #000000e5;
}
.dropdown:hover .extra {
    display: block;
    background-color: #000000e5;
}
.dropdown-union:hover{
    padding: 10px;
    padding-bottom: 20px;
    background-color: #000000e5;
}
.dropdown-union:hover .extra {
    display: block;
    background-color: #000000e5;
}
.extra li {
    margin-bottom: 5px;
    list-style: none;
}
.extra li a {
    color: white;
    display: block;
    padding: 5px 10px;
    

    
}
.extra li a:hover {
    color: yellow;
    display: block;
}
/*---------------- FIN DEL MENU -------------------------*/

#historia {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 15px;
    text-align: center;   
    position: relative; /* Añadimos posición relativa para que el z-index funcione correctamente */
  
    
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  #ramas {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 15px;
    margin: 150px;
    margin-top: 100px;
    margin-bottom: 0;
    position: relative; /* Añadimos posición relativa para que el z-index funcione correctamente */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  p {
    
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
    }
  }
/*---------------- teorico general -------------------------*/

#teorico-general{ 
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: auto;
    margin: auto;
    margin: 100px 150px;
    padding: 20px;
}


.cont-titulo{
    text-align: center;
}
.titulo-seccion-teorico-general{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.subtitulo-seccion-teorico-general{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
.cont-puntos ul{
    margin-left: 50px;
}
.cont-puntos-logo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
}
.cont-puntos{
    margin: auto;
}
.cont-logo-teorico{

    text-align: center;
}
.logo-teorico{
    width: 300px;
    height: 300px;
    margin: auto;
    cursor: pointer;
}
.cont-enlase-material-de-estudio{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.enlase-material-de-estudio{
    
    
    
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #f6fe0098;
    color: #000000e5;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
   
    
}

 



.enlase-material-de-estudio:hover {
    background-color: #000000e5;
    color: #f6fe0098;
}




/*---------------- fin teorico general -------------------------*/
.div{
    padding: 30px;
    text-align: center;
}
.indicador {
    font-size: 35px;
    color: white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*---------------- graduaciones -------------------------*/

#graduaciones{ 
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: auto;
    margin: auto;
    margin: 100px 150px 0px 150px;
    padding: 20px;
}
.primera h2{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}
.primera p{
    margin: 20px;
}

.segunda{
    margin: 20px;
    margin-top: 50px;
    margin-left: 50px;
}

.segunda h3{
    margin-bottom: 10px;
    margin-top: 30px;

}

.tercera{
    
    margin: 30px 20px;
}

/*---------------- cintos -------------------------*/

.button{
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);
}
.cont{
    color: rgb(255, 255, 255);
    height: auto;
    padding: 40px;
    margin: 50px 150px;
    margin-top: 0;    
    display: none; 
    border: 1px solid #ddd;
    border-top: 0px;
    background-color: #00000096;

}   



.enlase{
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    color: #ffffff;
    border: 1px solid #ddd;
    
}









.contenedor-descripcion-blanco.mostrar {
    display: block; 
}
.enlase-blanco, .contenedor-descripcion-blanco{
    box-shadow: 0px 0px 10px rgb(255, 253, 253) inset;
}
.button-blanco{
    background-color: rgb(255, 255, 255);
    color: black;
}



.contenedor-descripcion-amarillo.mostrar {
    display: block; 
}
.enlase-amarillo, .contenedor-descripcion-amarillo{
    box-shadow: 0px 0px 10px rgb(212, 255, 0) inset;
}
.button-amarillo{
    background-color: rgb(224, 255, 67);
    color: black;
}



.contenedor-descripcion-verde.mostrar {
    display: block; 
}
.enlase-verde, .contenedor-descripcion-verde{
    box-shadow: 0px 0px 10px rgb(43, 255, 0) inset;
}
.button-verde{
    background-color: green;
}



.contenedor-descripcion-azul.mostrar {
    display: block; 
}
.enlase-azul, .contenedor-descripcion-azul{
    box-shadow: 0px 0px 10px rgb(0, 4, 255) inset;
}
.button-azul{
    background-color: rgb(0, 0, 128);
}



.contenedor-descripcion-rojo.mostrar {
    display: block; 
}
.enlase-rojo, .contenedor-descripcion-rojo{
    box-shadow: 0px 0px 10px rgb(255, 0, 0) inset;
}
.button-rojo{
    background-color: rgb(128, 0, 0);
}




.contenedor-descripcion-negro.mostrar {
    display: block; 
    background-color: rgba(255, 255, 255, 0.8);
    
}
.enlase-negro, .contenedor-descripcion-negro{
    box-shadow: 0px 0px 10px rgb(0, 0, 0) inset;
    color: #000000;
    
}
.button-negro{
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: 1px solid white;
}

.parrafo2{
    color: #000000;
    padding: 10px 80px 0 0;
}



.contenedor-enlase{
    display: flex;
}
.contenedor-texto-logo{

    display: flex;

}
.contenedor-img{
    padding: 15px;
    display: flex;
    align-items: center;
}
.contenedor-texto-logo img{

    width: 100px;
    height: auto;
    margin-right: 30px;
    object-fit: cover;

}
.parrafo{
    padding: 25px 80px 0 0;
    color: #ffffff;
}
.negrita{
    font-size: xx-large;
}
/*---------------- fin cinto -------------------------*/



/*---------------- FIN graduaciones -------------------------*/

/*------------------------ FOOTER ----------------------------*/


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    
   
  }
  
  footer a {
    color: white;
    margin: 20px;
  }
  
 
  .left{
    margin: auto;
  }
  .right{
    margin: auto;
  }
  .center {
    flex-grow: 1;
    text-align: center;
    color: white;
  }
  footer div a{
    font-size: 20px;
    
  }

  .icon {
	display: inline-flex;
	width: 30px;
    height: 30px;
	text-decoration: none;
	font-size: 22px;
	border-radius: 50%;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
    font-size: 22px;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	animation: shake 0.25s;
}

.icon--tiktok{
    

}


.icon--instagram:hover {
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon--facebook:hover {
	background-color: #166494;
	outline-color: #166494;
}

.icon--tiktok:hover {
    background-image: radial-gradient(
      circle at 30% 107%,
      #69c9d0 0%,
      #69c9d0 5%,
      #ee1d52 45%,
      #663399 60%,
      #000000 90%
    );
    outline-color: #000000;
  }
.icon--wpp:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}
@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}
/*------------------- FIN DEL FOOTER ---------------------------*/

main{
    margin: 0;
}
/*------------------- seccion-principal ---------------------------*/


/*------------------- fin seccion-principal ---------------------------*/
































@media (max-width: 1200px){

    /*---------------- MENU -------------------------*/
    .menu-principal h1 {
        font-size: 35px;
        margin: 0;
    }
    .imagen-menu {
        width: 50px;
        height: 50px;
        
    }
    .boton-menu {
        margin-right: 100px;
        padding: 5px 10px;
    }
    .logo-teorico{
        width: 150px;
        height: 150px;
    }
    a {
        font-size: 13px;
    }
    /*---------------- FIN DEL MENU -------------------------*/
    
    /*------------- seccion-principal -----------------------*/
  

    /*---------- fin seccion-principal ---------------------*/
    
    
    
    /*----------------- FOOTER -----------------------------*/
    footer div p{
        font-size: 10px;
    }
    /*----------------- FIN DEL FOOTER -----------------------------*/
}


@media (max-width: 950px){
    
    /*---------------- MENU -------------------------*/
    .checkbtn{
        float: left;
        color: white;
        display: block;
        font-size: 20px;
        margin-left: 30px;
    }
    .menu-principal h1 {
        display: none;
    }
    .imagen-menu {
        width: 100px;
        height: 100px;
        margin: 0;
        margin-bottom: 50px;

        
    }
    .menu-principal{
        display: block;

        margin: auto;
        width: 105px;
        margin-top: 50px;
    }
    .boton-menu {
        margin: 0;
    }
    
    nav ul{
        display: block;
        margin-top: 40px;
    }
    .dropdown, .dropdown-union{
        margin: 10px;
    }
    .dropdown:hover .extra {
        display: none;
        
    }
    .dropdown-union:hover .extra {
        display: none;
        
    }
    .dropdown:hover{
        padding: 0;
        padding-bottom: 0;
        background-color: rgba(33, 32, 32, 0);
    }
    .dropdown-union:hover{
        padding: 0;
        padding-bottom: 0;
        background-color: rgba(33, 32, 32, 0);
    }
    .checkbtn{
        
        display: block;
        position: absolute;
        top: 2px;
        right: 30px; /* Ajusta la posición horizontal según tus necesidades */
        z-index: 9999; /* Asegura que el icono esté por encima de otros elementos */
      
    }
    .checkbtn:hover{
        color: rgb(255, 255, 255);
    }
    .contenedor-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999999999999;
        left: -100%;
        background-color: rgb(0, 0, 0, 0.7);
        
        backdrop-filter: blur(15px);
    }
    
    #check:checked ~ .contenedor-menu {
        left: 0;
        
    }
    .Visible {
        display: block;
        color: yellow;
        font-size: 25px;
        
        
      }
    .contenedor-h1{
        
        text-align: center;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 60px;
    }

    body {
        background-color: #000000;
        background-image: none;
        background-attachment: none;
        background-size: none;
    }
    main{
        background-color: #222222;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231f1f1f' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231c1c1c' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23181818' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23131313' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%230D0D0D' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%230e0e0e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%230f0f0f' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23101010' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23111111' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23121212' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        margin-top: 0px;
            
            
    }

    /*---------------- FIN DEL MENU -------------------------*/
    #ramas {
        
        margin: 50px;
       
      }

    /*------------- seccion-principal -----------------------*/
    
    .cont-puntos-logo{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    #teorico-general, #graduaciones{
        margin: 50px;
        padding: 10px;
        margin-top: 61px;
    }

    .cont{
        
        padding: 30px;
        margin: 50px 50px;
        margin-top: 0;
       
    }   
   
   
    /*---------- fin seccion-principal ---------------------*/
}


@media (max-width: 600px){
    #ramas {
        
        margin: 25px;
       
    }
    /*----------------- FOOTER -----------------------------*/
    footer{
        grid-template-columns: repeat(1, 1fr);
    }
    footer div p{
        font-size: 15px;
        
    }
    footer div a{
        font-size: 15px;
      }
    .right{
        float: right;
    }
    .primera h2, .titulo-seccion-teorico-general{
        
        font-size: 30px;
    }
    .subtitulo-seccion-teorico-general {
        
        font-size: 20px;
    }
    #teorico-general, #graduaciones{
        margin: 25px;
        padding: 10px;
        margin-top: 61px;
    }
    .cont{
        
        padding: 30px;
        margin: 50px 25px;
        margin-top: 0;
       
    }   
    .contenedor-texto-logo {
        display: block;
        margin: auto;
    }
    .contenedor-img {
        display: block;
        text-align: center;
        margin: 0;
    }
    .contenedor-texto-logo img {
    
        margin-right: 0px;
        
    }
    .parrafo {
        padding: 0;
        
    }
    .parrafo2 {
        
        padding: 0;
    }
    .enlase{
        padding: 15px 40px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 60px;        
    }

    /*----------------- FIN DEL FOOTER -----------------------------*/
}
